<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Backbone test</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<script data-main="js/main" src="js/libs/require/require.js"></script>
	
	
</head>
<body>



<div id="allMovies"></div>

<div id="movieDetail">
	<div class="button">
		<a href="./index.html" id="initPage">All Movies</a>
	</div>

	<script type="text/tempalte" class="detailsTemplate"> 	
		<div class="details">
			<ul>
				<li> <%= title %> </li>
				<li> <%= year %> </li>
				<li> <%= synopsis %> </li>
			<ul>
		</div>
		
	</script>
	
	<script type="text/tempalte" class="moreInfoView"> 	
		<div class="moreInfo">
			
			<img src="<%= posters.original %>" style="width:300px; height:300px;"/>  
			
				<br/><br/>
			<ul>
				<li> <%= abridged_cast[0].characters[0] %> as <%= abridged_cast[0].name %>  
				<li> <%= abridged_cast[1].characters[0] %> as <%= abridged_cast[1].name %>
				<li> <%= abridged_cast[2].characters[0] %> as <%= abridged_cast[2].name %>
				<li> <%= abridged_cast[3].characters[0] %> as <%= abridged_cast[3].name %>
			</ul>
		

		</div>
	</script>

</div>



</body>
</html>
